
@{
    ViewBag.Title = "Login";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="row text-center" style="height:325px;">
    <div class="col-md-12">
        <h1>Signup Comming Soon!</h1>
        <h2>This will become "Create account" or tie into a users active directory?</h2>
    </div>
</div>