<body class="hold-transition skin-blue sidebar-collapse">
    <div class="">
        <!--<app-header>LOADING header...</app-header>
        <app-menu-aside [links]="mylinks">LOADING menu...</app-menu-aside>-->
        <!-- Content Wrapper. Contains page content -->
        <div class="">
            <!-- Content Header (Page header) -->
            <!--<app-breadcrumb></app-breadcrumb>-->
            <!-- Main content -->
            <section class="">
                <div class="">
                    <div class="">
                        <form-rules-builder></form-rules-builder>
                        <form-renderer [formid]="id"></form-renderer>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!--<app-footer>LOADING footer...</app-footer>
        <app-aside>LOADING control sidebar...</app-aside>-->
    </div>
    <!-- ./wrapper -->
</body>
<!--<div class="row">
    <div>
        <form-renderer [formid]="id"></form-renderer>
    </div>
</div>-->