@model Dynappix.Bastogne.Models.PartialForm
@{
    ViewBag.Title = "Form Builder";
}

<style>

    /* Context Menu CSS */

    /*body, html {
        height: 100%;
    }*/

    /*#form-context-menu {
        position: absolute;
        left: 0;
        top: 0;
        width: 300px;
        background-color: #000000;
        /*overflow-y: scroll;
        height: 800px;
    }*/

    /*.editpane {
        padding: 10px;
    }*/
    /* Form Builder CSS */
    /*#edit-wrapper {
        margin-left: 30px;
        height: 100%;

    }*/

        /*#edit-wrapper input {
            pointer-events: none;
        }
    .builder-col {
        /*border: 1px dashed grey;
        min-height: 79px;
        position: relative;
        /*border: 1px dashed grey;
        border: 1px dashed grey;
    }*/

    /*.builder-col ul {
        /*padding: 5px,0,5px,0;
        border: 1px dashed grey;
    }*/

    form {
        min-height: 79px;
    }

    /*.row.builder-row {
        border: 1px groove orange;
        min-height: 79px;
        margin: 5px;
    }*/

    /*.control-hover {
        box-shadow: 0 0 2px 2px #808080;
    }*/

    /*.toolbar {
        display: none;
    }*/

    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }

    li {
        list-style-type: none;
    }

    /*.dndDraggingSource {
        display: none;  
    }

    .dndPlaceholder {
        background-color: #ddd;
        display: block;
        min-height: 42px;
    }*/

    /*.itemgenerator {
        padding: 2px;
    }*/

    /*Bootstrap Callouts*/

    /*.bs-callout {
        padding: 2px;
        padding-left: 10px;
        margin: 2px 0;
        border: 1px solid #eee;
        border-left-width: 5px;
        border-radius: 3px;
    }

        .bs-callout h4 {
            margin-top: 0;
            margin-bottom: 5px;
        }

        .bs-callout p:last-child {
            margin-bottom: 0;
        }

        .bs-callout code {
            border-radius: 3px;
        }

        .bs-callout + .bs-callout {
            margin-top: -5px;
        }

    .bs-callout-default {
        border-left-color: #777;
    }

        .bs-callout-default h4 {
            color: #777;
        }

    .bs-callout-primary {
        border-left-color: #428bca;
    }

        .bs-callout-primary h4 {
            color: #428bca;
        }

    .bs-callout-success {
        border-left-color: #5cb85c;
    }

        .bs-callout-success h4 {
            color: #5cb85c;
        }

    .bs-callout-danger {
        border-left-color: #d9534f;
    }

        .bs-callout-danger h4 {
            color: #d9534f;
        }

    .bs-callout-warning {
        border-left-color: #f0ad4e;
    }

        .bs-callout-warning h4 {
            color: #f0ad4e;
        }

    .bs-callout-info {
        border-left-color: #5bc0de;
    }

        .bs-callout-info h4 {
            color: #5bc0de;
        }*/
</style>
<div id="">
    @* -------------------- Form Area --------------------- *@
    <div class="row">
        <div class="col-md-12">
            <p></p>
        </div>
    </div>
    <div class="row" ng-controller="formBuilderController as vm" ng-init="vm.init('@ViewContext.RouteData.Values["id"]')">
        <div class="col-md-2"></div>
        <form class="col-md-8" id="edit-wrapper" ng-model="vm.form" ng-if="vm.dataLoaded">
            <ngform formid="'@ViewContext.RouteData.Values["id"]'"
                    object=""
                    isbuilder="true">
            </ngform>
        </form>
        <div class="col-md-2"></div>
    </div>
</div>
